<html>
<body>
<head>
    <title>Ошибка!</title>
</head>
<style>
    body {
        background-image: url("https://kartinkin.net/uploads/posts/2021-07/1626252641_31-kartinkin-com-p-fioletovii-fon-odnotonnii-nezhnii-krasivo-33.png"); /* Фоновый цвет и фоновый рисунок*/
        color: #6A5ACD; /*Цвет текста на странице*/
        background-attachment: fixed; /* Фон страницы фиксируется */
        background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
        margin-top: 15%;
    }
</style>
<center>
    <h1>Ошибка!</h1>
    <h2>Пожалуйста вернитесь на главную страницу!</h2>
    <a href="/welcomelogin">Вернуться назад</a><br>
    <a href="/">Главная страница</a><br>
</center>
</body>
</html>