<html>
<body>
<head>
  <title>Welcome!</title>
  <style>
    body {
      background-image: url("https://kartinkin.net/uploads/posts/2021-07/1626252641_31-kartinkin-com-p-fioletovii-fon-odnotonnii-nezhnii-krasivo-33.png"); /* Фоновый цвет и фоновый рисунок*/
      color: #6A5ACD; /*Цвет текста на странице*/
      background-attachment: fixed; /* Фон страницы фиксируется */
      background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
      margin-top: 15%;
    }
  </style>
</head>
<center>
  <h1>Добро пожаловать!</h1>
  <h2>Пожалуйста авторизуйтесь или зарегистрируйтесь!</h2>
  <a href="/login">Вход в личный кабинет</a><br>
  <a href="/registration">Зарегистрироваться</a><br>


</center>
</body>
</html>